/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 oct. 2022, 18:44:00
    Author     : Mauricio
*/

.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 20px solid blue;
    box-sizing: border-box;
}
.static{
    position: static;
    border: 3px solid green;
    top:700px;
    left:700px;
    
}
.absolute{
    position: absolute;
    border: 3px solid red;
    top:10px;
    left:10px;
    width: 200px;
    height: 200px;
}
.relative{
    position: absolute;
    border: 3px solid red;
    top:400px;
    left:500px;
    width: 200px;
    height: 200px;
}
.fixed{
    position: fixed;
    border: 3px solid red;
    top:150px;
    left:100px;
}